html,body{
    height: 100%;
    margin: 0px;
}

*{
    box-sizing: border-box;
}

.main-box{
    border: 3px solid red;
    height: 100%;
    display: flex;
}

.column-box{
    border: 3px solid blue;
    display: flex;
    flex-direction: column;
}

.small{
    flex-grow: 1;
}

.big{
    flex-grow: 2;
}

.box{
    border: 3px solid green;
}